<div class="board-header">
	<span class="icon">
		<strong><%= board.get('title') %></strong>
	</span>
	<span class="glyphicon glyphicon-star-empty icon"></span>
	<span class="glyphicon glyphicon-lock icon">Private</span>
</div>
<div class="board-content">
	<div class="list-wrapper"></div>
	<div class="list new-list-container">
		<div class="list new-list">
			<a href="#/boards/<%= board.id %>">Add a list...</a>		
		</div>
	</div>
<div>
