<% board.lists().each(function(list) { %>
	<div class="list">
		<div class="list list-header">
			<div class="list-title">
				<%= list.get('title') %>
			</div>
			<div class="list-actions">
				<div class="dropdown list-drop-action">
					<a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#/"
						<span class="glyphicon glyphicon-collapse-down"></span>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li role="presentation" class="dropdown-header">List Actions</li>
						<li role="presentation" class="divider"></li>
							<li>Add Card...</li>
							<li>Copy List...</li>	
							<li>Move List...</li>	
							<li>Subscribe</li>
							<li role="presentation" class="divider"></li>
							<li>Move All Cards in This List...</li>
							<li>Archive All Cards in This List...</li>
							<li role="presentation" class="divider"></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="list card-list">
			<% if (list.get("cards") && list.get("cards").length > 0) { %>
				<% for (var i=0; i < list.get("cards").length; i++) { %>
					<div id="card-item"><%= list.get("cards")[i].title %></div>
				<% } %>
			<% } %>
		</div>
		<div class="new-card-container" data-id="<%= list.id %>">
			<div class="list add-card" data-id="<%= list.id %>">
				<a href="#/">Add a card...</a>
			</div>
		</div>
	</div>
<% }) %>